<% title "Send Message" %>
<p>Send a message to the site maintainer.</p>

<% form_for @message do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :firstname, "First Name" %><br />
    <% if logged_in? && !current_user.firstname.blank? %>
      <%= f.text_field :firstname, :value => current_user.firstname, :disabled => "disabled" %>
    <% else %>
      <%= f.text_field :firstname %>
    <% end %>
  </p>
  <p>
    <%= f.label :lastname, "Last Name" %><br />
    <% if logged_in? && !current_user.lastname.blank? %>
      <%= f.text_field :lastname, :value => current_user.lastname, :disabled => "disabled" %>
    <% else %>
      <%= f.text_field :lastname %>
    <% end %>
  </p>
  <p>
    <%= f.label :email, "Email Address" %><br />
    <% if logged_in? && !current_user.email.blank? %>
      <%= f.text_field :email, :value => current_user.email, :disabled => "disabled" %>
    <% else %>
      <%= f.text_field :email %>
    <% end %>
  </p>
  <p>
    <%= f.label :subject, "Subject" %><br />
    <%= f.text_field :subject %>
  </p>
  <p>
    <%= f.label :message, "Message" %><br />
    <%= f.text_area :message, :size => "80x20" %>
  </p>
  <p>
    <%= captcha_tags %>
  </p>
    <% if APP_CONFIG[:captcha_enabled] %>
    <p>
      <%= f.submit "Send" %>
    </p>
    <% end %>
<% end %>