<% title "Computers" %>
<p>Create <%= link_to("new computer", :action => "new") %></p>
<p>
  <a href="#" onclick="$('.description').slideDown('slow'); return false;">Show</a> /
  <a href="#" onclick="$('.description').slideUp('slow'); return false;">hide</a>
  all descriptions
</p>
<p>
  Open as <%= link_to "plain text", { :controller => "computers", :format => "text" }, :target => "_blank" %>
  <span class="tip">
    (The plain text output is compatible with the <abbr title="Command Line Interface">CLI</abbr>
    <%= link_to "wakeonlan", "http://gsd.di.uminho.pt/jpo/software/wakeonlan/", :target => "_blank" %> program.)
  </span>
</p>
<% for computer in @computers %>
  <div class="computers">
    <h2><%= link_to(computer.name, :action => "show", :id => computer) %></h2>
    <p>
      <strong>Host:</strong> <span class="address"><%=h computer.host %></span></span><br />
      <strong>MAC:</strong> <span class="address"><%=h computer.mac %></span>
    </p>
    <% unless computer.description.blank? %>
      <a href="#" onclick="$('#description_<%= computer.id.to_s %>').slideToggle('slow'); return false;">Description</a>
      <div class="description" id="description_<%= computer.id.to_s %>">
        <%= safe_textilize(computer.description) %>
      </div>
    <% end %>
    <% form_for :computer, computer, :url => {:action => "pingorwake"} do |f| %>
      <%= f.hidden_field :id %>
      <%= f.submit "Wake", :disable_with => "Sending Magic Packet" %>
      <%= f.submit "Ping", :disable_with => "Pinging..." %>
      <span class="editLink"><%= link_to("Edit", :action => "edit", :id => computer.id) %></span>
    <% end %>
  </div>
<% end %>