<% title "Computers" %>
<p>Your computers</p>

<ul id="computers">
  <% for computer in @computers %>
    <% form_for :computer, computer, :url => { :action => "wake", :controller => "wakeonlan" } do |f| %>
      <h2><%= computer.name %></h2>
      <%= f.hidden_field :mac %>
      <%= f.hidden_field :host %>
      <%= f.submit "Wake" %>
    <% end %>
    <% form_for :computer, computer, :url => {:action => "query", :controller => "ping"} do |f| %>
      <%= f.hidden_field :host %>
      <%= f.submit "Ping" %>
    <% end %>
  <% end %>
</ul>