<% title "Computer: " + @computer.name %>
<p>
  <b>Host:</b>
  <%=h @computer.host %>
</p>
<p>
  <b>MAC:</b>
  <%=h @computer.mac %>
</p>
<p>
  <b>Broadcast IP:</b>
  <%=h @computer.broadcast_ip %>
</p>
<p>
  <b>Description:</b>
  <%=h @computer.description %>
</p>

<p>
  <%= button_to "Wake", { :controller => "wakeonlan", :action => "wake", :mac => @computer.mac, :host_to_wake => @computer.host }, :confirm => "Are you sure?" %>
</p>
<p>
  <%= button_to "Ping", { :controller => "ping", :action => "query", :host_to_ping => @computer.host } %>
</p>

<% form_for :computer, @computer, :url => {:action => "pingorwake"} do |f| %>
  <%= f.hidden_field :id %>
  <%= f.submit "Wake"%>
  <%= f.submit "Ping" %>
<% end %>
