<% title "Computer: " + @computer.name %>
<p>
  <b>Host:</b>
  <%=h @computer.host %>
</p>
<p>
  <b>Port:</b>
  <%=h @computer.port %>
</p>
<p>
  <b>MAC:</b>
  <%=h @computer.mac %>
</p>
<% unless @computer.description.blank? %>
  <div>
    <b>Description:</b>
    <%= safe_textilize(@computer.description) %>
  </div>
<% end %>
<p>
  <% form_for :computer, @computer, :url => {:action => "pingorwake"} do |f| %>
    <%= f.hidden_field :id %>
    <%= f.submit "Wake"%>
    <%= f.submit "Ping" %>
    <span class="editLink"><%= link_to("Edit", :action => "edit", :id => @computer.id) %></span>
    <span class="editLink"><%= link_to("Delete", :action => "delete", :id => @computer.id) %></span>
  <% end %>
</p>

