<% title "Sign up" %>

<p>
  Already have an account? <%= link_to "Log in", login_path %>.
</p>

<p>
  Lost your activation link or password? <%= link_to "Request a new one here", requests_path %>.
</p>

<% form_for @user do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </p>
  <p>
    <%= f.label :email, "Email Address" %><br />
    <%= f.text_field :email %><br />
    <span class="tip">
      This email address will be used to activate your account, so try and get
      it right. <br />
      We promise that we will never use your email address to spam you, nor will
      we hand it over to any third party.
    </span>
  </p>
  <p>
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :password_confirmation, "Confirm Password" %><br />
    <%= f.password_field :password_confirmation %>
  </p>
  <p>
    <%= f.label :terms, "Do you accept the terms of service?" %>
    <%= f.check_box :terms %><br />
    <a href="#" id="toslink">Show Terms of Service</a>
  </p>
  <div id="terms">
    <h3>Terms of Service</h3>
    <p>By signing up you agree to the following terms:</p>
    <ul>
      <li>
        You will not use this service to interfere with the operation of
        networks, devices, hosts, or services that you do not have the
        appropriate rights.
      </li>
      <li>
        You will not use this service as an aid to any activities deemed illegal
        and/or unethical under international and/or Finnish law.
      </li>
      <li>
        You agree that any legal disputes will be settled under Finnish law
        in a Finnish court.
      </li>
      <li>
        If the maintainer of this service deems that you have broken one or more
        of these terms your account may be terminated with seven (7) days notice.
        The notice will be delivered using the email address provided by you in
        your account details. This waiting period may be waived if you are
        actively causing harm to the service or to a third party.
      </li>
      <li>
        These terms may be amended at any point so long as the users of the
        service are notified of the amendments by email at least seven (7) days
        in advance.
      </li>
    </ul>
  </div>
  <p><%= f.submit "Sign up" %></p>
<% end %>