<% form_tag :controller => "wakeonlan", :action => "quickwake" do -%>
  <p>
    <%= label_tag "mac", "MAC Address" %><br />
    <%= text_field_tag "mac" %>
  </p>
  <p>
  <%= label_tag "host_to_wake", "IP Address or Hostname" %><br />
  <%= text_field_tag "host_to_wake" %>
  </p>
  <p>
  <%= label_tag "port", "Port (default is 9)" %><br />
  <%= text_field_tag "port", "9", :size => 4 %>
  </p>
  <p>
  <%= submit_tag "Submit" %>
  </p>
<% end -%>