<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title><%= h(yield(:title) || APP_CONFIG[:sitename]) %></title>
    <link rel="icon" type="image/png" href="/favicon.png" />
    <%= stylesheet_link_tag 'application' %>
    <%= yield(:head) %>
  </head>
  <body>
    <div id="wrapper">
      <div id="header">
        <div id="users">
          <% if logged_in? %>
            Welcome <strong><%= current_user.username %>!</strong>
            <%= link_to "Log out", logout_path %>
          <% else %>
            <%= link_to "Sign up", signup_path %>
            <%= link_to "Log in", login_path %>
          <% end %>
        </div>
        <p class="slogan">A simple WOL app</p>
      </div>
      <div id="navigation">
        <%= navigation("home", "computers", "wakeonlan", "ping") %>
      </div>
      <% unless @links.nil? %>
        <div id="subnavigation">
          <ul>
            <% for link in @links do %>
              <li><%= link_to link["label"], link["uri"] %></li>
            <% end %> 
          </ul>
        </div>
      <% end %>
      <div id="container">
        <%- flash.each do |name, msg| -%>
          <%= content_tag :div, msg, :id => "flash_#{name}" %>
        <%- end -%>
        
        <%- if show_title? -%>
          <h1><%=h yield(:title) %></h1>
        <%- end -%>
        
        <%= yield %>
      </div>  
    </div>
  </body>
</html>
